@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
.home-container {
  max-width: 100% !important;
}
.custom-carousel {
  margin: 2rem 0;
  img {
    object-fit: cover;
    height: 25rem;
  }
}
.lspace-small {
  letter-spacing: 2px;
}
